In [48]:
import pandas as pd
import numpy as np

## Practice Problems

In [49]:
#load iris data 
iris = pd.read_csv(r"C:\Users\SANAS\Downloads\Python DS\Pandas\Pandas\Assignment-1\Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### View the data

In [50]:
# Qn 1. How many rows does the dataframe contain?

# Qn 2. How many rows that have species setosa?

# Qn 3.What are the data types of the columns?

# Qn 4. What all species are there in the dataset?

In [51]:
#Ans 1:
len(iris.index)

150

In [52]:
#Ans 2
abc=iris[iris['Species']=='Iris-setosa']
len(abc.index)

50

In [53]:
#Ans 3
print(iris.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [54]:
#Ans 4
print(iris['Species'].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

### Indexing

In [55]:
#Qn 5. if sepal_length is greater than 5, multiply it by 100



#Qn 6. Find the sum of sepal_length for all the values where species is sentosa

#Qn 7. Find mean petal_length for versicolor

#Qn 8. Find maximum sepal_width for virginica

# Qn 9. Add a new column to the iris dataframe called 'sepal' which should be 'wide' if sepal_width is greater than 3,
# else narrow.

In [56]:
#Ans 5
iris.loc[iris['SepalLengthCm']>5,'SepalLengthCm']*=100
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,510.0,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica
146,147,630.0,2.5,5.0,1.9,Iris-virginica
147,148,650.0,3.0,5.2,2.0,Iris-virginica
148,149,620.0,3.4,5.4,2.3,Iris-virginica
149,150,590.0,3.0,5.1,1.8,Iris-virginica

In [57]:
#Ans 6
abc=iris[iris['Species']=='Iris-setosa']
abc['SepalLengthCm'].sum()

11823.400000000001

In [58]:
#Ans 7
xyz=iris[iris['Species']=='Iris-versicolor']
xyz['PetalLengthCm'].mean()

4.26

In [59]:
#Ans 8
mno=iris[iris['Species']=='Iris-virginica']
mno['SepalWidthCm'].max()

3.8

In [60]:
#Ans 9
iris.loc[iris['SepalWidthCm']>3,'Sepal']='wide'
iris.loc[iris['SepalWidthCm']<=3,'Sepal']='narrow'
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,510.0,3.5,1.4,0.2,Iris-setosa,wide
1,2,4.9,3.0,1.4,0.2,Iris-setosa,narrow
2,3,4.7,3.2,1.3,0.2,Iris-setosa,wide
3,4,4.6,3.1,1.5,0.2,Iris-setosa,wide
4,5,5.0,3.6,1.4,0.2,Iris-setosa,wide
...,...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica,narrow
146,147,630.0,2.5,5.0,1.9,Iris-virginica,narrow
147,148,650.0,3.0,5.2,2.0,Iris-virginica,narrow
148,149,620.0,3.4,5.4,2.3,Iris-virginica,wide
149,150,590.0,3.0,5.1,1.8,Iris-virginica,narrow

### Missing Data

In [61]:
# Qn 10. Fill the missing values with 0

# Qn 11. Fill the missing values only in sepal_length with 0

# Qn 12. Fill the missing values with non-NaN previous values

# Qn 13. Fill the missing values in all columns with sepal with non-NaN previous values and all columns with 
# petal with next non-NaN value 

# Qn 14. Replace species names using dictionary.
d = {'setosa': 'se', 'virginica': 'vi', 'versicolor': 've'}

# Qn 15. Set the species column as index

In [62]:
#Ans 10
iris.fillna(0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,510.0,3.5,1.4,0.2,Iris-setosa,wide
1,2,4.9,3.0,1.4,0.2,Iris-setosa,narrow
2,3,4.7,3.2,1.3,0.2,Iris-setosa,wide
3,4,4.6,3.1,1.5,0.2,Iris-setosa,wide
4,5,5.0,3.6,1.4,0.2,Iris-setosa,wide
...,...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica,narrow
146,147,630.0,2.5,5.0,1.9,Iris-virginica,narrow
147,148,650.0,3.0,5.2,2.0,Iris-virginica,narrow
148,149,620.0,3.4,5.4,2.3,Iris-virginica,wide
149,150,590.0,3.0,5.1,1.8,Iris-virginica,narrow

In [63]:
#Ans 11
iris['SepalLengthCm']=iris['SepalLengthCm'].fillna(0)
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,510.0,3.5,1.4,0.2,Iris-setosa,wide
1,2,4.9,3.0,1.4,0.2,Iris-setosa,narrow
2,3,4.7,3.2,1.3,0.2,Iris-setosa,wide
3,4,4.6,3.1,1.5,0.2,Iris-setosa,wide
4,5,5.0,3.6,1.4,0.2,Iris-setosa,wide
...,...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica,narrow
146,147,630.0,2.5,5.0,1.9,Iris-virginica,narrow
147,148,650.0,3.0,5.2,2.0,Iris-virginica,narrow
148,149,620.0,3.4,5.4,2.3,Iris-virginica,wide
149,150,590.0,3.0,5.1,1.8,Iris-virginica,narrow

In [64]:
#Ans 12
iris.ffill(axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,510.0,3.5,1.4,0.2,Iris-setosa,wide
1,2,4.9,3.0,1.4,0.2,Iris-setosa,narrow
2,3,4.7,3.2,1.3,0.2,Iris-setosa,wide
3,4,4.6,3.1,1.5,0.2,Iris-setosa,wide
4,5,5.0,3.6,1.4,0.2,Iris-setosa,wide
...,...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica,narrow
146,147,630.0,2.5,5.0,1.9,Iris-virginica,narrow
147,148,650.0,3.0,5.2,2.0,Iris-virginica,narrow
148,149,620.0,3.4,5.4,2.3,Iris-virginica,wide
149,150,590.0,3.0,5.1,1.8,Iris-virginica,narrow

In [65]:
#Ans 13
iris['SepalLengthCm']=iris['SepalLengthCm'].fillna(method='ffill')
iris['SepalWidthCm']=iris['SepalWidthCm'].fillna(method='ffill') 
iris['PetalWidthCm']=iris['PetalWidthCm'].fillna(method='bfill')
iris['PetalLengthCm']=iris['PetalLengthCm'].fillna(method='bfill')
print(iris)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1          510.0           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146          670.0           3.0            5.2           2.3
146  147          630.0           2.5            5.0           1.9
147  148          650.0           3.0            5.2           2.0
148  149          620.0           3.4            5.4           2.3
149  150          590.0           3.0            5.1           1.8

            Species   Sepal
0       Iris-setosa    wide
1       Iris-setosa  narrow
2       Iris-setosa    wide
3       Iris-setosa    wide
4       Iris-setosa    wide
..              ...     ...
145  Iris-virginica  narrow
146  Iris-virginica  narrow
147  Iris-virginica  narrow
148  Iris-virginica    wide
149  Iris-virginica  narrow

[150 rows x 7 columns]

In [66]:
#Ans14
d = {'Iris-setosa': 'se', 'Iris-virginica': 'vi', 'Iris-versicolor': 've'}
iris2=iris.replace({"Species":d})
print(iris2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species  \
0      1          510.0           3.5            1.4           0.2      se
1      2            4.9           3.0            1.4           0.2      se
2      3            4.7           3.2            1.3           0.2      se
3      4            4.6           3.1            1.5           0.2      se
4      5            5.0           3.6            1.4           0.2      se
..   ...            ...           ...            ...           ...     ...
145  146          670.0           3.0            5.2           2.3      vi
146  147          630.0           2.5            5.0           1.9      vi
147  148          650.0           3.0            5.2           2.0      vi
148  149          620.0           3.4            5.4           2.3      vi
149  150          590.0           3.0            5.1           1.8      vi

      Sepal
0      wide
1    narrow
2      wide
3      wide
4      wide
..      ...
145  narrow
146  narrow
147  narrow
148    wide
149  narrow

[150 rows x 7 columns]

In [67]:
#Ans15
iris.set_index('Species')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Sepal
Species,,,,,,
Iris-setosa,1,510.0,3.5,1.4,0.2,wide
Iris-setosa,2,4.9,3.0,1.4,0.2,narrow
Iris-setosa,3,4.7,3.2,1.3,0.2,wide
Iris-setosa,4,4.6,3.1,1.5,0.2,wide
Iris-setosa,5,5.0,3.6,1.4,0.2,wide
...,...,...,...,...,...,...
Iris-virginica,146,670.0,3.0,5.2,2.3,narrow
Iris-virginica,147,630.0,2.5,5.0,1.9,narrow
Iris-virginica,148,650.0,3.0,5.2,2.0,narrow
Iris-virginica,149,620.0,3.4,5.4,2.3,wide
Iris-virginica,150,590.0,3.0,5.1,1.8,narrow

### Operations

In [68]:

# Qn 16. Find mean sepal length

# Qn 17. Find minimum petal width

# Qn 18. Add a row mean at the end of the dataframe with mean values for each column

# Qn 19. Add column sum with sum of both widths and lengths

# Qn 20. Find sum of sepal_length, sepal_width, petal_length, petal_width by species

# Qn 21. Find sum of sepal_length and mean petal_length

# Qn 22. Write a function that applies different multipliers to the column sepal_length based on species.
# If species is setosa, sepal_length gets multiplied by 2, if it is virginica, multiply by 3, and if it is versicolor,
# multiply by 5. Return the result in a new column New_sepal_length.

In [69]:
#Ans16
iris["SepalLengthCm"].mean()

483.2213333333334

In [70]:
#Ans17
iris["PetalWidthCm"].min()

0.1

In [71]:
#Ans18
iris3=iris.set_index('Species')
iris3.loc['mean']=iris3.mean()
iris3

C:\Users\SANAS\AppData\Local\Temp\ipykernel_4792\3600466306.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris3.loc['mean']=iris3.mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Sepal
Species,,,,,,
Iris-setosa,1.0,510.000000,3.500,1.400000,0.200000,wide
Iris-setosa,2.0,4.900000,3.000,1.400000,0.200000,narrow
Iris-setosa,3.0,4.700000,3.200,1.300000,0.200000,wide
Iris-setosa,4.0,4.600000,3.100,1.500000,0.200000,wide
Iris-setosa,5.0,5.000000,3.600,1.400000,0.200000,wide
...,...,...,...,...,...,...
Iris-virginica,147.0,630.000000,2.500,5.000000,1.900000,narrow
Iris-virginica,148.0,650.000000,3.000,5.200000,2.000000,narrow
Iris-virginica,149.0,620.000000,3.400,5.400000,2.300000,wide
Iris-virginica,150.0,590.000000,3.000,5.100000,1.800000,narrow
mean,75.5,483.221333,3.054,3.758667,1.198667,NaN

In [72]:
#Ans19
col_list=list(iris3)
col_list.remove('Id')
iris3["sum"]=iris3[col_list].sum(axis=1)
iris3

C:\Users\SANAS\AppData\Local\Temp\ipykernel_4792\3786943122.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris3["sum"]=iris3[col_list].sum(axis=1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Sepal,sum
Species,,,,,,,
Iris-setosa,1.0,510.000000,3.500,1.400000,0.200000,wide,515.100000
Iris-setosa,2.0,4.900000,3.000,1.400000,0.200000,narrow,9.500000
Iris-setosa,3.0,4.700000,3.200,1.300000,0.200000,wide,9.400000
Iris-setosa,4.0,4.600000,3.100,1.500000,0.200000,wide,9.400000
Iris-setosa,5.0,5.000000,3.600,1.400000,0.200000,wide,10.200000
...,...,...,...,...,...,...,...
Iris-virginica,147.0,630.000000,2.500,5.000000,1.900000,narrow,639.400000
Iris-virginica,148.0,650.000000,3.000,5.200000,2.000000,narrow,660.200000
Iris-virginica,149.0,620.000000,3.400,5.400000,2.300000,wide,631.100000
Iris-virginica,150.0,590.000000,3.000,5.100000,1.800000,narrow,599.900000
mean,75.5,483.221333,3.054,3.758667,1.198667,NaN,491.232667

In [73]:
grouped_data=iris.groupby(["Species"])
grouped_data.sum()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,1275,11823.4,170.9,73.2,12.2
Iris-versicolor,3775,28204.9,138.5,213.0,66.3
Iris-virginica,6275,32454.9,148.7,277.6,101.3

In [80]:
#Ans22
def f(x):
    a=x[0]
    b=x[1]
    if (a =='Iris-setosa'):
        return b*2
    elif (a =='Iris-virginica'):
           return b*3
    else:
        return b*5

In [81]:
iris["New_sepal_length"]=iris[["Species","SepalLengthCm"]].apply(lambda x:f(x),axis=1)

In [82]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal,New_sepal_length
0,1,510.0,3.5,1.4,0.2,Iris-setosa,wide,1020.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,narrow,9.8
2,3,4.7,3.2,1.3,0.2,Iris-setosa,wide,9.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,wide,9.2
4,5,5.0,3.6,1.4,0.2,Iris-setosa,wide,10.0
...,...,...,...,...,...,...,...,...
145,146,670.0,3.0,5.2,2.3,Iris-virginica,narrow,2010.0
146,147,630.0,2.5,5.0,1.9,Iris-virginica,narrow,1890.0
147,148,650.0,3.0,5.2,2.0,Iris-virginica,narrow,1950.0
148,149,620.0,3.4,5.4,2.3,Iris-virginica,wide,1860.0
149,150,590.0,3.0,5.1,1.8,Iris-virginica,narrow,1770.0